force-app/main/default/flows/Flow_for_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_values_from_screen</name>
        <label>Assign values from screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>user</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joiningDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Joining</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subjects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>computer</name>
        <choiceText>Computer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Computer</stringValue>
        </value>
    </choices>
    <choices>
        <name>english</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Flow for LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>My_Screen_1</name>
        <label>My Screen 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_from_screen</targetReference>
        </connector>
        <fields>
            <name>Username</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subjects</name>
            <choiceReferences>english</choiceReferences>
            <choiceReferences>computer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subjects</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Joining</name>
            <dataType>Date</dataType>
            <fieldText>Date of Joining</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>My_Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>joiningDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
