force-app/main/default/flows/Lwc_for_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>myEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>amitkumar@amitkumar.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>myPhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>9998887776</stringValue>
        </value>
    </constants>
    <constants>
        <name>myUserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>amitkumar</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Lwc for flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lwc for flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Holy_Name</name>
        <label>Holy Name</label>
        <locationX>769</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;{!myVal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>My_Screen</name>
        <label>My Screen</label>
        <locationX>777</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Holy_Name</targetReference>
        </connector>
        <fields>
            <name>myLwc</name>
            <extensionName>c:lwcForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>myEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phone</name>
                <value>
                    <elementReference>myPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userName</name>
                <value>
                    <elementReference>myUserName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>myVal</assignToReference>
                <name>myValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>My_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>myVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
